/* Moody */
.btn-moody {
    border-color: #0E197D;
    color: #0E197D;
  }
  
  .btn-moody:hover {
    background-color: #FFDB01;
    color: black;
  }

/* ISEF */
.btn-isef {
    border-color: #513162;
    color: #513162;
  }
  
  .btn-isef:hover {
    background-color: #FF7AF5;
    color: #513162;
  }

/* Incendium */
.btn-incendium {
    border-color: #360940;
    color: #360940;
  }
  
  /* .btn-incendium:hover {
    background-color: #F05F57;
    color: #360940;
  } */

/* Garage */
.btn-garage {
    border-color: #002661;
    color: #002661;
  }
  
  /* .btn-garage:hover {
    background-color: #92FFC0;
    color: black; */
  }

/* reddit */
.btn-reddit {
    border-color: #C02425;
    color: #C02425;
  }
  
  .btn-reddit:hover {
    background-color: #FF5700;
    color: black;
  }

/* xkcdOffline */
.btn-xkcd {
  border-color: #2c3e50;
  color: #2c3e50;
}

.btn-xkcd:hover {
  background-color: #bdc3c7;
  color: black;
}

/* poiler */
.btn-poiler {
    border-color: #28C76F;
    color: #28C76F;
  }
  
  .btn-poiler:hover {
    background-color: #81FBB8;
    color: black;
  }

/* cows and bulls */
.btn-cnb {
    border-color: #3CD500;
    color: #3CD500;
  }
  
  .btn-cnb:hover {
    background-color: #3CD500;
    color: black;
  }

